@model IEnumerable<FlowerModel>
@{
    ViewData["Title"] = "List of flowers";
    int count = Model.Count();
}
 


<form asp-action="Search">

    <div class="SearchBar">
        <input name="searchedTerm"  class="form-control" placeholder="Which color are you looking for?" />
    </div>
    <br>
    <div class="form-group">
        <input type="submit" value="Search" class="btn btn-outline-primary" />
    </div>
</form>
<br>
<p>
    <a asp-action="InputForm" class="btn btn-outline-success">Create New</a>
</p>

<p> @count - Products</p>
<div class="container d-flex flex-wrap">
    @if ( Model != null ) {
    @foreach (var item in Model)
        {
            
            string pic = item.Name;
            pic = pic.Replace(" ", "");
            pic+=".png";
            <div class="card" style="width: 18rem;">
                <img src="@item.Picture" class="card-img-top" alt="..." width="150px" height="145px">
                <div class="card-body">
                <h5 class="card-title">@item.Name</h5>
                <p class="card-text">@item.Description</p>
                <p class="card-text">@item.Price</p>

                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info">Show Details</a>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-secondary">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">Delete</a>

            </div>
        </div>
    }
    }
</div>
